/*
/*/
!src/
!src/*
!eclipse/
/eclipse/.metadata/*
/eclipse/.recommenders/*
/eclipse/saves/*
/eclipse/crash-reports/*
/eclipse/logs/*
/eclipse/world/*
/eclipse/BukkitTestPlugin/bin/*
/eclipse/usernamecache.json
/eclipse/usercache.json
/eclipse/whitelist.json
/eclipse/ops.json
/eclipse/options.txt
/eclipse/banned-ips.json
/eclipse/banned-players.json
!/build.gradle
!/build.properties
!/build.properties
!/README.md
!/libs/
!/libs/*
!/.gitignore
/eclipse/config/
/eclipse/config/*
/eclipse/plugins/
/eclipse/plugins/*